<!DOCTYPE html>
<html lang="en" ng-app="volounteerJsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>volounteer.js</title>

    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/dashboard/dashboard.css" />
</head>
<body>

<div class="container">

    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-send"></span> volounteer.js</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                </li>
                <li>
                    <a href="/rest/computation"><span class="glyphicon glyphicon-wrench"></span> REST API</a>
                </li>
                <li>
                    <a href="/compute"><span class="glyphicon glyphicon-cloud-upload"></span> Compute</a>
                </li>
            </ul>
        </div>
        <!--/.container-fluid -->
    </div>

    <h1>Dashboard</h1>
    <div class="row dashboard" ng-controller="VolounteerJsDashboardCtrl">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-transfer"></span> Computations</div>
                <div class="panel-body">
                    {{computations}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Connected workers</div>
                <div class="panel-body">
                    {{connectedWorkers}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-cloud-upload"></span> Tasks computing</div>
                <div class="panel-body">
                    {{currentlyComputedTasks}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default" tooltip="click&nbsp;to&nbsp;reset" ng-click="resetMaxCurrentlyComputedTasks()">
                <div class="panel-heading"><span class="glyphicon glyphicon-flash"></span> Max tasks computing</div>
                <div class="panel-body">
                    {{maxCurrentlyComputedTasks}}
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="VolounteerJsComputationCtrl">
        <h1 class="computations-heading">
            Recent computations
            <a href="" ng-click="fetchRecentComputations()" tooltip="click&nbsp;to&nbsp;refresh" tooltip-placement="right"><i class="glyphicon glyphicon-refresh"></i></a>
        </h1>
        <div class="row computations">
            <div class="col-md-6" ng-repeat="computation in computations">
                <div class="panel" ng-class="{
                    'panel-success': computation.finished && computation.failed_count == 0,
                    'panel-warning': !computation.finished,
                    'panel-danger': computation.finished && computation.failed_count > 0
                }">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-transfer"></span> Computation #{{computation.id}}
                        <div class="pull-right" ng-if="computation.finished">
                            <a href="/rest/computation/{{computation.id}}"><i class="glyphicon glyphicon-cloud-download"></i> Results</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar" tooltip="New: {{computation.new_count}} / {{(100*computation.new_count/computation.count).toFixed(1)}}%" ng-style="{width: (100*computation.new_count/computation.count) + '%'}"></div>
                            <div class="progress-bar progress-bar-warning progress-bar-striped" tooltip="Computing: {{computation.computing_count}} / {{(100*computation.computing_count/computation.count).toFixed(1)}}%" ng-style="{width: (100*computation.computing_count/computation.count) + '%'}"></div>
                            <div class="progress-bar progress-bar-success" tooltip="Done: {{computation.done_count}} / {{(100*computation.done_count/computation.count).toFixed(1)}}%" ng-style="{width: (100*computation.done_count/computation.count) + '%'}"></div>
                            <div class="progress-bar progress-bar-danger" tooltip="Failed: {{computation.failed_count}} / {{(100*computation.failed_count/computation.count).toFixed(1)}}%" ng-style="{width: (100*computation.failed_count/computation.count) + '%'}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" tooltip="When computation was created">
                                <i class="glyphicon glyphicon-play"></i> {{moment(computation.started).format("D/M/YYYY, HH:mm:ss")}}
                            </div>
                            <div class="col-md-6" tooltip="When last result was received">
                                <i class="glyphicon glyphicon-stop"></i> {{(computation.finished) ? (moment(computation.finished).format("D/M/YYYY, HH:mm:ss")) : "Computation in progress"}}
                            </div>
                            <div class="col-md-6" tooltip="Computation duration (from creation, to receiving last result)">
                                <i class="glyphicon glyphicon-time"></i> {{(computation.finished) ? moment(computation.finished).diff(moment(computation.started), 'seconds') : "Computation in progress"}}s
                            </div>
                            <div class="col-md-6" tooltip="Calculations duration (excluding data transfer)">
                                <i class="glyphicon glyphicon-time"></i> {{moment.duration(computation.duration).asSeconds().toFixed(1)}}s
                            </div>
                            <div class="col-md-6" tooltip="Speed-up" ng-if="computation.finished">
                                <i class="glyphicon glyphicon-dashboard"></i> {{(computation.duration / moment(computation.finished).diff(moment(computation.started))).toFixed(2)}}x
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /container -->

<script src="/public/js/moment.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/angular.js"></script>
<script src="/public/js/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="/public/dashboard/dashboard.js"></script>

</body>
</html>
