.dashboard .panel {
    border-color: #398439;
}

.dashboard .panel-body {
    color: #FFFFFF;
    background: #5CB85C;
    text-align: center;
    font-size: 5em;
    line-height: 1;
}

.dashboard .panel-heading {
    color: #FFFFFF;
    background: #398439;
    border-color: #398439;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.computations-heading .glyphicon-refresh {
    font-size: 20px;
}

.computations .panel-heading {
    font-weight: bold;
}